.player-cards {
  border-style: solid;
  /* display:flex;
  flex-direction: column; */
  /* justify-content: center; */
  /* width: 40%; */
  text-align: center;
  margin-bottom: 50px;
  margin-left: 400px;
  margin-right: 400px;
  padding: 15px
}

.players-container {
  margin: 0 auto;
  text-align:center;
}