@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.edit-container { 
  text-align: center;
  background-image: url("https://i.imgur.com/KvdjoDv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Fredericka the Great', cursive;
  color: white
}

.edit-form {
  display: flex;
  flex-direction: column;
  opacity: .8;
}

.edit-input-name, .edit-input-img, .edit-input-position {
  margin-bottom: 20px;
}

.screen-edit-button {
  border-radius: 15px 50px 30px;
  height: 30px;
  font-family: 'Fredericka the Great', cursive;
  background-color: orange;
  margin-bottom: 500px;
}

.edit-title {
  font-size: 30px;
}