@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.player-cards {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 400px;
  margin-right: 400px;
  padding: 15px;
  background-color: gray;
  opacity: .9;
  font-family: 'Fredericka the Great', cursive;
}

.players-container {
  margin: 0 auto;
  text-align:center;
  background-image: url("https://i.imgur.com/DX3YkZW.jpg");
  font-size: 30px;
  color: white;
}

.player-name {
  text-decoration: none;
  color: white;
  border: white solid
}

.players-title {
  font-family: 'Fredericka the Great', cursive;
}

.create-button, .delete-button, .edit-button {
  font-family: 'Fredericka the Great', cursive;
background-color: orange;
height: 50px;
width: 150px;
margin-top: 20px;
font-size: 25px;
box-shadow: blue;
}