@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.main-container-reg {
position: relative;
opacity: .8;
}

.reg-container {
  position: absolute;
  top: 100px;
  left: 450px;
}

.form-input {
  border-radius:10px;
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
  text-align: center;
}


.reg-container {
  width: 500px;
}

.register-title {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  text-align: center;
  margin-bottom: 150px;
  font-size: 30px;
}

.submit-reg {
align-self: center;
margin-left: 154px;
border-radius: 15px 50px 30px;
width: 40%;
height: 30px;
font-family: 'Fredericka the Great', cursive;
background-color: orange;
}

@media screen and (max-width: 700px) {
  .log-container {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 500px;
  }
}
@media screen and (max-width: 400px) {
  .reg-container {
    position: absolute;
    top: 20px;
    left: 130px;
    width: 100px;
  }
  .register-title {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
  }
  .submit-reg {
    align-self: center;
    margin-left: 5px;
    border-radius: 15px 50px 30px;
    width: 100%;
    height: 30px;
    font-family: 'Fredericka the Great', cursive;
    background-color: orange;
    }
}