@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  font-family: 'Fredericka the Great', cursive;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  font-family: 'Fredericka the Great', cursive;
}

.logout-button {
  font-family: 'Fredericka the Great', cursive;
}

.players-link {
  text-decoration: none;
  color: black
}

.nav-main-container {
  background-color: rgba(196, 196, 196, 0.29);
}

.login, .register {
  text-decoration: none;
  color: black
}

.logo {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 700px) {
  .navigation {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 240px;
    width: 30%;
    font-family: 'Fredericka the Great', cursive;
  }
}
@media screen and (max-width: 400px) {
  .nav-links {
    margin-left: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 24px;
    }
}